# image.yml format details

## parameters
| Name                      | Description                                            | Value | Required |
| ------------------------- | ------------------------------------------------------ | ----- | ----- |
{%- for p in params %}
   | ` {{- p.name -}} ` | {{ p.description }} | ` {{- p.value -}} ` | {{ p['required'] if p.get('required') is not none else 'yes' }} |
{%- endfor %}

## repo_set parameters
| Name                      | Description                                            | Value | Required |
| ------------------------- | ------------------------------------------------------ | ----- | ----- |
{%- for p in repo_set_params %}
   | ` {{- p.name -}} ` | {{ p.description }} | ` {{- p.value -}} ` | {{ p['required'] if p.get('required') is not none else 'yes' }} |
{%- endfor %}

## runtime parameters
| Name                      | Description                                            | Value | Required |
| ------------------------- | ------------------------------------------------------ | ----- | ----- |
{%- for p in runtime_params %}
   | ` {{- p.name -}} ` | {{ p.description }} | ` {{- p.value -}} ` | {{ p['required'] if p.get('required') is not none else 'yes' }} |
{%- endfor %}

### k8s runtime parameters
| Name                      | Description                                            | Value | Required |
| ------------------------- | ------------------------------------------------------ | ----- | ----- |
{%- for p in k8s_runtime_params %}
   | ` {{- p.name -}} ` | {{ p.description }} | ` {{- p.value -}} ` | {{ p['required'] if p.get('required') is not none else 'yes' }} |
{%- endfor %}

### docker compose runtime parameters
| Name                      | Description                                            | Value | Required |
| ------------------------- | ------------------------------------------------------ | ----- | ----- |
{%- for p in docker_compose_runtime_params %}
   | ` {{- p.name -}} ` | {{ p.description }} | ` {{- p.value -}} ` | {{ p['required'] if p.get('required') is not none else 'yes' }} |
{%- endfor %}

### docker runtime parameters
| Name                      | Description                                            | Value | Required |
| ------------------------- | ------------------------------------------------------ | ----- | ----- |
{%- for p in docker_runtime_params %}
   | ` {{- p.name -}} ` | {{ p.description }} | ` {{- p.value -}} ` | {{ p['required'] if p.get('required') is not none else 'yes' }} |
{%- endfor %}
