name: Image monitor

on:
  schedule:
  - cron: '*/20 * * * *'
  workflow_dispatch:

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    environment: actions-cicd
    steps:
{%- for image in image_list %}
      - name: Pull {{ image.official_name }}
        run: docker pull {{ image.rf_docker_link -}}
{%- endfor %}
      - name: Update pull counts
        env:
          PULL_COUNTER_MAGIC_TOKEN: ${{ '{{' }} secrets.PULL_COUNTER_MAGIC_TOKEN {{ '}}' }}
        run: |
          curl -X POST \
            -H "Accept: application/json" \
            -H "Authorization: Bearer ${PULL_COUNTER_MAGIC_TOKEN}" \
            -d '{ {%- for image in image_list %} " {{- image.rf_docker_link -}} ": 1 {% if not loop.last %}, {% endif %} {%- endfor %} }' \
            https://data-receiver.rapidfort.io/counts/internal_image_pulls
