name: Image monitor

on:
  schedule:
  - cron: '*/20 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
{%- for image in image_list %}
      - name: Pull {{ image.official_name }}
        run: docker pull {{ image.rf_docker_link -}}
{%- endfor %}
