name: Readme Updater

on:
  schedule:
  - cron: '0 0 * * *'
  push:
    branches: [ main ]
    paths:
    - '**/README.md'
    - 'community_images/**/**/readme.yml'
    - 'community_images/common/templates/image_readme.j2'
    - 'scripts/image_readme_generator.sh'

  workflow_dispatch:

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    environment: actions-cicd

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Generate new readme and image files
        run: |
          pip install --upgrade pip
          pip install requests
          ./scripts/image_generator.sh

      - name: Check if new changes detected
        run: |
          if [[ $(git status --porcelain) ]]; then
            echo "Fail as the image_generator script was not run"
            exit 1
          fi

      - name: Update readme for dockerhub
        run: ./scripts/update_readme_dh.sh

{%- for image in image_list %}
      - name: Docker Hub Description {{ image.official_name }}
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ '{{' }} secrets.DOCKERHUB_USERNAME {{ '}}' }}
          password: ${{ '{{' }} secrets.DOCKERHUB_PASSWORD {{ '}}' }}
          repository: {{ image.rf_docker_link }}
          readme-filepath: ./community_images/ {{- image.github_location -}} /README.md.dockerhub
          short-description: RapidFort optimized, hardened image for {{ image.official_name }}
{%- endfor %}

      - name: Cleanup readme for dockerhub
        run: ./scripts/cleanup_readme_dh.sh
