name: Readme Updater

on:
  push:
    branches: [ main ]
    paths:
    - '**/README.md'
    - 'community_images/**/**/readme.yml'
    - 'community_images/common/templates/image_readme.j2'
    - 'scripts/image_readme_generator.sh'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: actions-cicd

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Generate new readme and image files
        run: ./scripts/image_generator.sh

      # Push all the changes
      - name: Push changes
        run: |
          if [[ $(git status --porcelain) ]]; then
            git config user.name "Rapidfort Readme Bot"
            git config user.email "info@rapidfort.com"
            git add . && git commit -am "Update README.md via script" --signoff && git push
          fi

      - name: Update readme for dockerhub
        run: ./scripts/update_readme_dh.sh
        
{%- for image in image_list %}
      - name: Docker Hub Description {{ image.official_name }}
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ '{{' }} secrets.DOCKERHUB_USERNAME {{ '}}' }}
          password: ${{ '{{' }} secrets.DOCKERHUB_PASSWORD {{ '}}' }}
          repository: {{ image.rf_docker_link }}
          readme-filepath: ./community_images/ {{- image.github_location -}} /README.md.dockerhub
          short-description: RapidFort optimized, hardened image for {{ image.official_name }}
{%- endfor %}

      - name: Cleanup readme for dockerhub
        run: ./scripts/cleanup_readme_dh.sh
