version: '2'

services:
  fluent-bit:
    image: ${FLUENT_BIT_IMAGE_REPOSITORY}:${FLUENT_BIT_IMAGE_TAG}
    cap_add:
      - SYS_PTRACE
    ports:
      - '0.0.0.0::8080'
    volumes:
      - ./config/fluent-bit.config:/tmp/fluent-bit.config
      - ./config/plugin.config:/opt/bitnami/fluent-bit/conf/plugin.config
  prometheus:
    image: docker.io/rapidfort/prometheus
    cap_add:
      - SYS_PTRACE