version: '2.0'

services:
  
  consul1:
    image: ${CONSUL_OFFICIAL_IMAGE_REPOSITORY}:${CONSUL_OFFICIAL_IMAGE_TAG}
    hostname: "consul1"
    user: root
    cap_add:
      - SYS_PTRACE
    ports:
      - '0.0.0.0::8300'
      - '0.0.0.0::8301'
      - '0.0.0.0::8301/udp'
      - '0.0.0.0::8500'
      - '0.0.0.0::8600'
      - '0.0.0.0::8600/udp'
    volumes:
      - 'consul-node1_data:/consul/data'
      - ./scripts/server_coverage_script.sh:/opt/scripts/coverage_script.sh
      - ./configs/sample_service.json:/consul.d/sample_service.json
    command: "agent -server -bootstrap-expect 2 -ui -client 0.0.0.0"
  
  consul2:
    image: ${CONSUL_OFFICIAL_IMAGE_REPOSITORY}:${CONSUL_OFFICIAL_IMAGE_TAG}
    hostname: "consul2"
    user: root
    cap_add:
      - SYS_PTRACE
    volumes:
      - 'consul-node2_data:/consul/data'
      - ./scripts/server2_coverage_test.sh:/opt/scripts/coverage_script.sh
    command: "agent -server -join consul1"
    depends_on: 
      - consul1
  
  consul3:
    image: ${CONSUL_OFFICIAL_IMAGE_REPOSITORY}:${CONSUL_OFFICIAL_IMAGE_TAG}
    hostname: "consul3"
    user: root
    cap_add:
      - SYS_PTRACE
    volumes:
      - 'consul-node3_data:/consul/data'
      - ./scripts/client_coverage_script.sh:/opt/scripts/coverage_script.sh
    command: "agent -join consul1"
    depends_on:
      - consul1
      - consul2

volumes:
  consul-node1_data:
    driver: local
  consul-node2_data:
    driver: local
  consul-node3_data:
    driver: local
