version: '2'

services:
  nginx:
    image: ${NGINX_IMAGE_REPOSITORY}:${NGINX_IMAGE_TAG}
    user: root
    cap_add:
      - SYS_PTRACE
    ports:
      - '0.0.0.0::8080'
      - '0.0.0.0::8443'
    volumes:
      - ./certs:/certs
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
  nginx2:
    image: ${NGINX_IMAGE_REPOSITORY}:${NGINX_IMAGE_TAG}
    user: root
    restart: always
    cap_add:
      - SYS_PTRACE
    ports:
      - '0.0.0.0::8080'
      - '0.0.0.0::8443'
    volumes:
      - ./certs:/etc/ssl/certs
      - ./../../common/tests/common_commands.sh:/tmp/common_commands.sh
    entrypoint: /bin/bash
    command: "/tmp/common_commands.sh"
  backend1a:
    image: nginxdemos/hello:plain-text
    cap_add:
      - SYS_PTRACE
    ports:
      - '80'
  backend1b:
    image: nginxdemos/hello:plain-text
    cap_add:
      - SYS_PTRACE
    ports:
      - '80'
  backend2a:
    image: nginxdemos/hello:plain-text
    cap_add:
      - SYS_PTRACE
    ports:
      - '80'
  backend2b:
    image: nginxdemos/hello:plain-text
    cap_add:
      - SYS_PTRACE
    ports:
      - '80'