version: '2'

services:
  nginx:
    image: registry1.dso.mil/ironbank/opensource/nginx/nginx
    user: root
    cap_add:
      - SYS_PTRACE
    ports:
      - '0.0.0.0::8080'
      - '0.0.0.0::8443'
    volumes:
      - ./certs:/certs
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./../../common/tests/common_commands.sh:/tmp/common_commands.sh
      - ./coverage_script.sh:/coverage_script.sh
    command: /bin/sh -c "/tmp/common_commands.sh"
  backend1a:
    image: nginxdemos/hello:plain-text
    cap_add:
      - SYS_PTRACE
    ports:
      - '80'
  backend1b:
    image: nginxdemos/hello:plain-text
    cap_add:
      - SYS_PTRACE
    ports:
      - '80'
  backend2a:
    image: nginxdemos/hello:plain-text
    cap_add:
      - SYS_PTRACE
    ports:
      - '80'
  backend2b:
    image: nginxdemos/hello:plain-text
    cap_add:
      - SYS_PTRACE
    ports:
      - '80'