version: '2'

services:
  mongodb-primary:
    image: ${MONGODB_IMAGE_REPOSITORY}:${MONGODB_IMAGE_TAG}
    environment:
      - MONGODB_ADVERTISED_HOSTNAME=mongodb-primary
      - MONGODB_REPLICA_SET_MODE=primary
      - MONGODB_ROOT_PASSWORD=password123
      - MONGODB_REPLICA_SET_KEY=replicasetkey123
      - RF_ACCESS_TOKEN=${RF_ACCESS_TOKEN}
    volumes:
      - 'mongodb_master_data:/bitnami/mongodb'
    cap_add:
      - SYS_PTRACE

  mongodb-secondary:
    image: ${MONGODB_IMAGE_REPOSITORY}:${MONGODB_IMAGE_TAG}
    depends_on:
      - mongodb-primary
    environment:
      - MONGODB_ADVERTISED_HOSTNAME=mongodb-secondary
      - MONGODB_REPLICA_SET_MODE=secondary
      - MONGODB_INITIAL_PRIMARY_HOST=mongodb-primary
      - MONGODB_INITIAL_PRIMARY_ROOT_PASSWORD=password123
      - MONGODB_REPLICA_SET_KEY=replicasetkey123
      - RF_ACCESS_TOKEN=${RF_ACCESS_TOKEN}
    cap_add:
      - SYS_PTRACE

  mongodb-arbiter:
    image: ${MONGODB_IMAGE_REPOSITORY}:${MONGODB_IMAGE_TAG}
    depends_on:
      - mongodb-primary
    environment:
      - MONGODB_ADVERTISED_HOSTNAME=mongodb-arbiter
      - MONGODB_REPLICA_SET_MODE=arbiter
      - MONGODB_INITIAL_PRIMARY_HOST=mongodb-primary
      - MONGODB_INITIAL_PRIMARY_ROOT_PASSWORD=password123
      - MONGODB_REPLICA_SET_KEY=replicasetkey123
      - RF_ACCESS_TOKEN=${RF_ACCESS_TOKEN}
    cap_add:
      - SYS_PTRACE

volumes:
  mongodb_master_data:
    driver: local