version: '2'

services:
  python-flask-1:
    image: python:3.6
    volumes:
      - ./configs/sample-server/app:/app
    container_name: python-flask-1
    cap_add:
      - SYS_PTRACE
    networks:
      - haproxy
    expose:
      - "8080"
    command:
      - /bin/bash
      - -c
      - |
        pip install flask==1.0.2
        python3 app/app.py

  python-flask-2:
    image: python:3.6
    volumes:
      - ./configs/sample-server/app:/app
    container_name: python-flask-2
    cap_add:
      - SYS_PTRACE
    networks:
      - haproxy
    expose:
      - "8080"
    command:
      - /bin/bash
      - -c
      - |
        pip install flask==1.0.2
        python3 app/app.py

  haproxy:
    image: bitnami/haproxy
    user: root
    volumes:
      - ./configs/haproxy-tcp.cfg:/bitnami/haproxy/conf/haproxy.cfg
    container_name: haproxy
    networks:
      - haproxy
    cap_add:
      - SYS_PTRACE
    ports: 
      - '0.0.0.0::80'
    depends_on: 
      - python-flask-1
      - python-flask-2

networks:
  haproxy:
    driver: bridge
