version: '2'
services:
  elasticsearch:
    image: rapidfort/elasticsearch:8.13
    ports:
      - 9200:9200
    volumes:
      - 'elasticsearch_data:/tmp/elasticsearch'
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
      - xpack.monitoring.collection.enabled=true
      - xpack.monitoring.elasticsearch.collection.enabled=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - elastic

  metricbeat:
    image: ${METRICBEAT_IMAGE_REPOSITORY}:${METRICBEAT_IMAGE_TAG}
    user: root
    volumes:
      - ./metricbeat.yml:/usr/share/metricbeat/metricbeat.yml
      - ./test_commands.sh:/tmp/test_commands.sh
      - metricbeat-data:/usr/share/metricbeat/data
    cap_add:
      - SYS_PTRACE
    networks:
      - elastic
    depends_on:
      - elasticsearch
    command: -e --strict.perms=false
      
volumes:
  elasticsearch_data:
    driver: local
  metricbeat-data:
    driver: local

networks:
  elastic:
    driver: bridge

