version: '2'
services:
  redis-node-0:
    image: ${REDIS_CLUSTER_IMAGE_REPOSITORY}:${REDIS_CLUSTER_IMAGE_TAG}
    volumes:
      - redis-cluster_data-0:/bitnami/redis/data
      - ../../common/tests/test.redis:/tmp/test.redis
      - ./redis_cluster_runner.sh:/tmp/redis_cluster_runner.sh

    environment:
      - 'REDIS_PASSWORD=bitnami'
      - 'REDIS_NODES=redis-node-0 redis-node-1 redis-node-2 redis-node-3 redis-node-4 redis-node-5'
    cap_add:
      - SYS_PTRACE

  redis-node-1:
    image: ${REDIS_CLUSTER_IMAGE_REPOSITORY}:${REDIS_CLUSTER_IMAGE_TAG}
    volumes:
      - redis-cluster_data-1:/bitnami/redis/data
    environment:
      - 'REDIS_PASSWORD=bitnami'
      - 'REDIS_NODES=redis-node-0 redis-node-1 redis-node-2 redis-node-3 redis-node-4 redis-node-5'
    cap_add:
      - SYS_PTRACE

  redis-node-2:
    image: ${REDIS_CLUSTER_IMAGE_REPOSITORY}:${REDIS_CLUSTER_IMAGE_TAG}
    volumes:
      - redis-cluster_data-2:/bitnami/redis/data
    environment:
      - 'REDIS_PASSWORD=bitnami'
      - 'REDIS_NODES=redis-node-0 redis-node-1 redis-node-2 redis-node-3 redis-node-4 redis-node-5'
    cap_add:
      - SYS_PTRACE

  redis-node-3:
    image: ${REDIS_CLUSTER_IMAGE_REPOSITORY}:${REDIS_CLUSTER_IMAGE_TAG}
    volumes:
      - redis-cluster_data-3:/bitnami/redis/data
    environment:
      - 'REDIS_PASSWORD=bitnami'
      - 'REDIS_NODES=redis-node-0 redis-node-1 redis-node-2 redis-node-3 redis-node-4 redis-node-5'
    cap_add:
      - SYS_PTRACE

  redis-node-4:
    image: ${REDIS_CLUSTER_IMAGE_REPOSITORY}:${REDIS_CLUSTER_IMAGE_TAG}
    volumes:
      - redis-cluster_data-4:/bitnami/redis/data
    environment:
      - 'REDIS_PASSWORD=bitnami'
      - 'REDIS_NODES=redis-node-0 redis-node-1 redis-node-2 redis-node-3 redis-node-4 redis-node-5'
    cap_add:
      - SYS_PTRACE

  redis-node-5:
    image: ${REDIS_CLUSTER_IMAGE_REPOSITORY}:${REDIS_CLUSTER_IMAGE_TAG}
    volumes:
      - redis-cluster_data-5:/bitnami/redis/data
    depends_on:
      - redis-node-0
      - redis-node-1
      - redis-node-2
      - redis-node-3
      - redis-node-4
    environment:
      - 'REDIS_PASSWORD=bitnami'
      - 'REDISCLI_AUTH=bitnami'
      - 'REDIS_CLUSTER_REPLICAS=1'
      - 'REDIS_NODES=redis-node-0 redis-node-1 redis-node-2 redis-node-3 redis-node-4 redis-node-5'
      - 'REDIS_CLUSTER_CREATOR=yes'
    cap_add:
      - SYS_PTRACE

volumes:
  redis-cluster_data-0:
    driver: local
  redis-cluster_data-1:
    driver: local
  redis-cluster_data-2:
    driver: local
  redis-cluster_data-3:
    driver: local
  redis-cluster_data-4:
    driver: local
  redis-cluster_data-5:
    driver: local