version: '2'
services:
  mysql:
    image: rapidfort/mysql:latest
    volumes:
      - 'mysql_data:/bitnami/mysql'
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_USER=bn_ghost
      - MYSQL_DATABASE=bitnami_ghost
  ghost:
    image: bitnami/ghost:5.35.1-debian-11-r2
    restart: always
    ports:
      - '8080:2368'
    volumes:
      - 'ghost_data:/bitnami/ghost'
    cap_add:
      - SYS_PTRACE
    depends_on:
      - mysql
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - GHOST_DATABASE_HOST=mysql
      - url=http://localhost:8080/
      - GHOST_DATABASE_PORT_NUMBER=3306
      - GHOST_DATABASE_USER=bn_ghost
      - GHOST_DATABASE_NAME=bitnami_ghost
volumes:
  mysql_data:
    driver: local
  ghost_data:
    driver: local
