version: '2'

services:
  apache:
    image: ${APACHE_IMAGE_REPOSITORY}:${APACHE_IMAGE_TAG}
    user: root
    volumes:
      - ./configs/index.html:/usr/local/apache2/htdocs/index.html
      - ./configs/server-configs/httpd1.conf:/etc/httpd/conf/httpd.conf
      - ./certs/server.crt:/etc/pki/tls/certs/localhost.crt
      - ./certs/server.key:/etc/pki/tls/private/localhost.key
    cap_add:
      - SYS_PTRACE    
    ports:
      - "0.0.0.0::80"
      - "0.0.0.0::443"  
  apache-prefork-mpm:
    image: ${APACHE_IMAGE_REPOSITORY}:${APACHE_IMAGE_TAG}
    user: root
    volumes:
      - ./configs/index.html:/usr/local/apache2/htdocs/index.html
      - ./configs/server-configs/httpd2.conf:/etc/httpd/conf/httpd.conf
      - ./certs/server.crt:/etc/pki/tls/certs/localhost.crt
      - ./certs/server.key:/etc/pki/tls/private/localhost.key
    cap_add:
      - SYS_PTRACE    
    ports:
      - "0.0.0.0::80"
      - "0.0.0.0::443"
  apache-worker-mpm:
    image: ${APACHE_IMAGE_REPOSITORY}:${APACHE_IMAGE_TAG}
    user: root
    volumes:
      - ./configs/index.html:/usr/local/apache2/htdocs/index.html
      - ./configs/server-configs/httpd3.conf:/etc/httpd/conf/httpd.conf
      - ./certs/server.crt:/etc/pki/tls/certs/localhost.crt
      - ./certs/server.key:/etc/pki/tls/private/localhost.key
    cap_add:
      - SYS_PTRACE    
    ports:
      - "0.0.0.0::80"
      - "0.0.0.0::443"
