version: '2'

services:
  apache:
    image: ${APACHE_IMAGE_REPOSITORY}:${APACHE_IMAGE_TAG}
    user: root
    volumes:
      - ./configs/index.html:/var/www/html/index.html
      - ./configs/server-configs/httpd1.conf:/etc/httpd/conf/httpd.conf
      - ./configs/server-configs/ssl.conf:/etc/httpd/conf.d/ssl.conf
      - ./certs/server.crt:/etc/pki/tls/certs/localhost.crt
      - ./certs/server.key:/etc/pki/tls/private/localhost.key
    cap_add:
      - SYS_PTRACE    
    ports:
      - "0.0.0.0::80"
      - "0.0.0.0::8443"  
  apache-prefork-mpm:
    image: ${APACHE_IMAGE_REPOSITORY}:${APACHE_IMAGE_TAG}
    user: root
    volumes:
      - ./configs/index.html:/var/www/html/index.html
      - ./configs/server-configs/httpd2.conf:/etc/httpd/conf/httpd.conf
      - ./certs/server.crt:/etc/pki/tls/certs/localhost.crt
      - ./certs/server.key:/etc/pki/tls/private/localhost.key
    cap_add:
      - SYS_PTRACE    
    ports:
      - "0.0.0.0::80"
    command:
      - /bin/bash
      - -c
      - |
        ./configure --enable-mpms-shared='prefork'

  apache-worker-mpm:
    image: ${APACHE_IMAGE_REPOSITORY}:${APACHE_IMAGE_TAG}
    user: root
    volumes:
      - ./configs/index.html:/var/www/html/index.html
      - ./configs/server-configs/httpd3.conf:/etc/httpd/conf/httpd.conf
      - ./certs/server.crt:/etc/pki/tls/certs/localhost.crt
      - ./certs/server.key:/etc/pki/tls/private/localhost.key
    cap_add:
      - SYS_PTRACE    
    ports:
      - "0.0.0.0::80"
    command:
      - /bin/bash
      - -c
      - |
        ./configure --enable-mpms-shared='worker'
