version: '3'
services:
  elasticsearch:
    image: rapidfort/elasticsearch:8.13
    environment:
      - discovery.type=single-node
    ports:
      - "9200:9200"

  logstash:
    image: ${LOGSTASH_IMAGE_REPOSITORY}:${LOGSTASH_IMAGE_TAG}
    ports:
      - "9600:9600"
    cap_add:
      - SYS_PTRACE
    volumes:
      - ./pipeline/logstash.conf:/tmp/logstash.conf:ro
    depends_on:
      - elasticsearch
