version: '2'

services:
  chart-test:
    image: ${CT_IMAGE_REPOSITORY}:${CT_IMAGE_TAG}
    cap_add:
      - SYS_PTRACE
    user: root
    network_mode: "host"
    working_dir: /data
    entrypoint: sleep
    command: infinity
    volumes:
        - ./kube-config:/root/.kube/config:ro
        - ./examples:/data
