name: Image monitor

on:
  schedule:
  - cron: '*/20 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Pull MariaDB
        run: docker pull rapidfort/mariadb
      - name: Pull MongoDB®
        run: docker pull rapidfort/mongodb
      - name: Pull MySQL
        run: docker pull rapidfort/mysql
      - name: Pull PostgreSQL
        run: docker pull rapidfort/postgresql
      - name: Pull Redis™
        run: docker pull rapidfort/redis
      - name: Pull Redis™ Cluster
        run: docker pull rapidfort/redis-cluster
      - name: Pull NGINX
        run: docker pull rapidfort/nginx
